@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: black;
}
a {
  text-decoration: none;
}

.hero {
  position: relative;
  width: 100%;
  background-color: black;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  text-align: center;
  padding: 10px 20px;
}

nav ul li a {
  color: #ffffff;
  position: relative;
  padding: 5px 0;
}

nav ul li a:hover {
  color: #47a5fd;
}

nav ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background: #47a5fd;
  transition: 0.3s;
  bottom: 0;
}

nav ul li a:hover:after {
  width: 100%;
}

.btn {
  color: #000000;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 16px 40px;
  border-radius: 500px;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  background-size: 152% 100%;
  background: white;
  border: 2px solid white;
}

.btn:hover {
  background: transparent;
  border-color: white;
  color: white;
}

.home-content {
  position: absolute;
  top: 20%;
  left: 8%;
}

.home-content h1 {
  color: #ffffff;
  font-size: 75px;
  font-weight: 900;
  line-height: 90px;
}

.home-content p {
  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 30px;
  text-align: justify;
}

.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: justify;
  color: #ffffff;
}

.about-container h1 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.about-class-p {
  margin-top: 20px;
}

/* Image Card Container */
.image-card {
  max-width: 400px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Image Styling */
.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px 8px 0 0;
}

.card-content {
  padding: 15px; /* Adjust the padding as needed */
}

.social-links {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  max-width: 80%;
  padding: 20px;
  margin-top: 5%;
}

.social-links ul {
  justify-content: center;
  display: flex;
  list-style: none;
}

.social-links li {
  margin: 10px 10px;
}

.social-links a {
  width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
  text-decoration: none;
}

.social-links a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

.social-links a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.social-links a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}

.social-links a:hover:before {
  top: 0;
}

.social-links li:nth-child(1) a:before {
  background: #3b5999;
}

.social-links li:nth-child(2) a:before {
  background: #55acee;
}

.social-links li:nth-child(3) a:before {
  background: red;
}
.social-links li:nth-child(4) a:before {
  background: gray;
}
