<div class="about-container">
  <h1>ABOUT ME</h1>
  <p class="about-class-p">
    I am Jonard Efraim A. Pinalas, currently living in Tankulan, Manolo Fortich,
    Bukidnon, Philippines. 19 years old. A 2nd-year student. I am aspiring to be
    a person who is capable to program in multiple languages, specializing in
    fullstack and game development.
  </p>

  <div class="image-card">
    <img
      src="https://i.pinimg.com/564x/1b/8f/70/1b8f706bbd4bb3334c684f7da37b4d42.jpg"
      alt="Profile Image"
    />
  </div>
</div>
<div class="social-links">
  <h1>CONTACT ME</h1>
  <ul>
    <li>
      <a href="#" onclick="openfb()"><i class="fab fa-facebook-f icon"></i></a>
    </li>
    <li>
      <a href="#" onclick="opentwitter()"
        ><i class="fab fa-twitter icon"></i
      ></a>
    </li>
    <li>
      <a href="#" onclick="openyt()"><i class="fab fa-youtube icon"></i></a>
    </li>
    <li>
      <a href="#" onclick="opengit()"><i class="fab fa-github icon"></i></a>
    </li>
  </ul>
</div>
