<div class="about-container">
  <h1>Project Cards</h1>

  <div class="image-card">
    <img
      src="https://i.pinimg.com/564x/4b/8d/19/4b8d196e529d8cbf7077da79ac971823.jpg"
      alt="Project 1"
    />
    <div class="card-content">
      <h2>This Website</h2>
      <p>The website itself is one of the projects that I have created and proud of.</p>
      <p></p>
    </div>
  </div>

  <div class="image-card">
    <img
      src="https://i.pinimg.com/564x/5c/f5/f8/5cf5f8035fd93651f2f0c36de4b3aa9c.jpg"
      alt="Project 2"
    />
    <div class="card-content">
      <h2>Simple Platformer</h2>
      <p>
        A platformer game made using the programming language java. With the
        goal to eridate all monsters and save the world.
      </p>
    </div>
  </div>

  <div class="image-card">
    <img
      src="https://i.pinimg.com/564x/1c/c9/ea/1cc9ea7f0419d04a48f8f1dc4178430b.jpg"
      alt="Project 3"
    />
    <div class="card-content">
      <h2>Applet Calculator</h2>
      <p>Created an applet calculator using the programming language Java.</p>
    </div>
  </div>
</div>
