<div class="about-container">
  <h1>Project Cards</h1>

  <div class="image-card">
    <img
      src="https://i.pinimg.com/564x/4b/8d/19/4b8d196e529d8cbf7077da79ac971823.jpg"
      alt="Project 1"
    />
    <div class="card-content">
      <h2>Project 1</h2>
      <p>Description of Project 1.</p>
    </div>
  </div>

  <div class="image-card">
    <img src="project2.jpg" alt="Project 2" />
    <div class="card-content">
      <h2>Project 2</h2>
      <p>Description of Project 2.</p>
    </div>
  </div>

  <div class="image-card">
    <img src="project3.jpg" alt="Project 3" />
    <div class="card-content">
      <h2>Project 3</h2>
      <p>Description of Project 3.</p>
    </div>
  </div>
</div>
