  <div class="project-container" id="section-3">
      <h1 class="hover-blue">Project Cards</h1>

      <div class="project-card">
        <img
          src="images/project-1.png"
          alt="Project 1"
        />
        <div class="card-content">
          <h2>This Website</h2>
          <p>
            The website itself is one of the projects that I have created and
            proud of.
          </p>
          <p></p>
        </div>
      </div>

      <div class="project-card">
        <img
          src="images/project-2.png"
          alt="Project 2"
        />
        <div class="card-content">
          <h2>Simple Platformer</h2>
          <p>A platformer game made using the programming language java.</p>
        </div>
      </div>

      <div class="project-card">
        <img
          src="images/project-3.png"
          alt="Project 3"
        />
        <div class="card-content">
          <h2>Applet Calculator</h2>
          <p>
            Created an applet calculator using the programming language Java.
          </p>
        </div>
      </div>
    </div>
